.sticky-nav {
  position: sticky;
  top: 0;
}

.retrievedCourses {
  width: 80%;
  height: 65%;
}

.align-text {
  display: flex;
  align-items: center;
}

.app {
  height: 20vh;
}


/* ============================ Timetable-related ============================ */

.altColor {
  background-color: #c9c9c9;
}

/* .fixedWidth { 
  width: 8vw;
} */

.dayCell {
  background-color: #d47c7c;
  width: 2.5%;
}

.lessonStyle {
  position: absolute;
  background-color: navajowhite;
  height: 12%;
  font-size: 14px;
  /* margin-left: 8%;
  width: 6.5%; */
}

.timetable {
  width: 95vw;
}

.timetableRow {
  height: 12vh;
}
