.altColor {
  background-color: #c9c9c9;
}

.dayCell {
  background-color: #d47c7c;
  width: 4vw;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.retrievedCourses {
  width: 80%;
  height: 65%;
}

.align-text {
  display: flex;
  align-items: center;
}

.app {
  height: 20vh;
}

.lessonText {
  font-size: 14px;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 3px;
  padding-top: 3px;
  /* margin-left: 50%; */
  background-color: navajowhite;
  /* height: 100%;
  width: 150%; */
  /* width: 10%; */
  transform: translateX(4vw);
}

.timetableRow {
  min-height: 12vh;
}

.timeRow {
  height: 6vh;
}

.timeCell {
  transform: translateX(-50%);
}

.timeSlot {
  /* 4vw for day, 1.5vw each side for horizontal padding, remaining 92vw split among 15 cells*/
  width: 6.2vw;
}
